UL {
    list-style-type: none;
    margin: 0px;
}

DIV.cazHead {
}

DIV.cazHead A:link {
    text-decoration: none;
}

DIV.cazHead A:visited {
    text-decoration: none;
}

DIV.cazHead A:active {
    text-decoration: none;
}

DIV.cazHead A:hover {
    text-decoration: none;
}

DIV.saxoHead {
    font-size: large;
    background-color: #b8e;
    font-weight: bold;
}